html {
    box-sizing: border-box;
    background-color: #f2f2f2;
    color: #666;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #595757;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
