<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Welding管理后台</title>
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Welding</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-shrink-right"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="header-right-nav">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/img/profile-picture.png" class="layui-nav-img">
                    <span id="user-name"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" nav-event="change-password" href="">修改密码</a></dd>
                    <dd><a href="javascript:;" nav-event="logout" href="">退出</a></dd>
                </dl>
            </li>
<!--            <li class="layui-nav-item"><a href="">退出</a></li>-->
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul id="slide-menu" class="layui-nav layui-nav-tree" lay-filter="side-menu">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">数据</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="default-content" data-content-href="welding" data-form-href="welding-form">数据管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-content-href="user">用户管理</a></dd>
                        <dd><a href="javascript:;" data-content-href="role">角色管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body"></div>
</div>

<script src="/lib/layui/layui.all.js"></script>
<script>
    let $ = layui.$;
    let form = layui.form;
    let table = layui.table;
    let element = layui.element;
</script>
<!--登录验证-->
<script src="/lib/ajaxhook/ajaxhook.min.js"></script>
<script>
    function goLogin() {
        localStorage.removeItem('tokenHead');
        localStorage.removeItem('token');
        sessionStorage.removeItem('user');
        location.href = '/view/login.html';
    }
    // 拦截 ajax 请求，加 token 请求头，验证登录
    ah.proxy({
        //请求发起前进入
        onRequest: (config, handler) => {
            let tokenHead = localStorage.getItem('tokenHead');
            let token = localStorage.getItem('token');
            if (tokenHead && token) {
                config.headers['Authorization'] = tokenHead + token;
            }
            handler.next(config);
        },
        //请求发生错误时进入 onError，比如超时；注意，不包括http状态码错误，如404仍然会认为请求成功
        //请求成功后进入 onResponse
        onResponse: (response, handler) => {
            // 如果返回提示未登录或 token 过期，则跳转到登录
            if (response.status === 401) {
                goLogin();
                return;
            }
            let contentType = response.headers['content-type'];
            if (contentType && contentType.indexOf('json') !== -1) {
                let respBody = JSON.parse(response.response);
                if (respBody && respBody.code === 4) {
                    goLogin();
                    return;
                }
            }
            handler.next(response);
        }
    });

    // 如果没有登录，则跳转到登录页面
    let tokenHead = localStorage.getItem('tokenHead');
    let token = localStorage.getItem('token');
    if (!tokenHead || !token) {
        goLogin();
    } else {
        $.ajax({
            async: false,
            url: '/user/info',
            type: 'GET',
            cache: false,
            success: function (res) {
                if (res.code === 1) {
                    // 获取用户的信息存储在前端使用
                    let user = res.data;
                    sessionStorage.setItem('user', JSON.stringify(user));
                    // 更新页面上的用户信息
                    $('#user-name').text(user.username);
                } else {
                    goLogin();
                }
            },
            error: function () {
                // 响应状态码 403 时也会进入 error
                goLogin();
            }
        });
    }
    // 侧边导航按钮
    element.on('nav(side-menu)', function (elem) {
        let $elem = $(elem);
        let contentHref = $elem.data('content-href');
        let formHref = $elem.data('form-href');
        let formClass = 'switch-content-form';
        // 先获取旧的表单，防止新表单在页面之前加载，再获取时导致将新的表单一起移除了
        let $oldForm = $('.' + formClass);
        if (contentHref) {
            let contentUrl = '/view/' + contentHref + '.html';
            $.ajax({
                type: 'GET',
                url: contentUrl,
                dataType: 'html',
                success: function (res) {
                    $('.layui-body').html(res);
                    // 移除旧页面的表单
                    $oldForm.remove();
                },
                error: function () {
                    layer.msg('加载页面出错。', {icon: 5, time: 1000});
                }
            });
        }
        if (formHref) {
            let formUrl = '/view/' + formHref + '.html';
            $.ajax({
                type: 'GET',
                url: formUrl,
                dataType: 'html',
                success: function (res) {
                    // 新增表单
                    let $forms = $(res);
                    $forms.addClass(formClass);
                    $('body').append($forms);
                },
                error: function () {
                    layer.msg('加载表单出错。', {icon: 5, time: 1000});
                }
            });
        }
    });
    // 默认加载 welding 页
    $('#slide-menu').find('.default-content').trigger('click');

    element.on('nav(header-right-nav)', function (elem) {
        let event = $(elem).attr('nav-event');
        if (event === 'logout') {
            goLogin();
        }
    });
</script>
</body>
</html>